[bB]uild/
.vscode/
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/
data/Alduin
data/dark-sun-gwyndolin
data/dark_sun_gwyndolin
data/gigantic_tundra_terrain_vi3hcjw_ue_mid
data/globophobia
data/gwyn-lord-of-cinder
data/japanese_metal_lantern_vfvjccaqx_ue_mid
data/matilda
data/pickle_fbx
data/pickle_gltf_ue
data/ptit_lego
data/purple-music
data/ramolis
data/shadow_mini
data/ShadowSA2
data/vivi-ornitier